// Custom.scss
$font-size-base:              0.8rem !default;
$line-height-base:            1.5 !default;
$mark-padding:                0em !default;

$card-spacer-x:                     0.25rem !default;
$list-group-item-padding-y:         .25rem !default;
$list-group-item-padding-x:         0.25rem !default;

code,
code span,
pre {
  font-family: 'Roboto Mono', monospace!important
}

a {
  text-decoration: none;
  cursor: pointer;
}

@import '../../node_modules/bootstrap/scss/bootstrap';